<!DOCTYPE html>
<html lang="en">
<head>
    <title>My App</title>
</head>
<body>

    <div id="root"></div>

    <script src="{{ asset('build/static/js/main.e53fabc8.js') }}"></script>
    
</body>
</html>