{# <!DOCTYPE html>
<html lang="en">
<head>
    <title>My App</title>
</head>
<body>

    <div id="root"></div>

    <script src="{{ asset('build/static/js/main.e53fabc8.js') }}"></script>
    
</body>
</html> #}

{# templates/home.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div {{ react_component('Hello', { fullName: 'Fabien' }) }}>
        Loading... <i class="fas fa-cog fa-spin fa-3x"></i>
    </div>

    <div {{ react_component('Hello') }}></div>
{% endblock %}